    html {
      width: 100%;
      height: 100%;
    }

    #master {
      margin-left: 50px;
      margin-right: 50px;
    }

    body {
      width: 100%;
      height: 100%;
      background-color: seaShell;
    }

    #header {
      /*height: 50%;*/
      background-image: linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)),url("../assets/images/newyork.jpg");
      background-size: cover;
      color: white;
      font-family: "oswaldesque";   
    }

    @font-face {
    font-family: "oswaldesque";
    src: url("../assets/fonts/oswaldesque/Oswaldesque Regular.ttf");
    }

    .col {
      font-family: 'Open Sans';
    }
   
    #newSearch {
      opacity: .99;
      background-color:#4595D3;
    }

    #newSearch:hover {
      opacity: .9;
      box-shadow: 4px 4px 5px black;
    }

    #weatherHeader{
      text-align: center;
    }

    .weatherParameters:hover {
      font-size: 20px;
    }

    .container p {
      font-size: 16px;
    }

    .container {
      width: 95%;
    }

    #location {
      margin-top: 10%;
      text-shadow: 4px 4px 2px black;
      font-size: 100px;
    }

    #top {
      padding-bottom: 0px;
    }

    #description1 {
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
      font-family: 'Open Sans', sans-serif;
      font-size:23px;
      color: black;
      background-color: #C8DDEE;
      box-shadow: 10px 10px 5px silver;
    }

     #description1:hover {
      font-size: 27px;
    }

    .row #col-box {
      overflow: hidden;
      background-color: #B2B2B2;
      background-image: url(../assets/images/cold-weather7.png);
      /*sun.jpg, hot-weather4.jpeg, cold-weather7.png*/
      background-size: cover;
      padding: 0px;
    }

    #col-box {
      height: 85%;
      text-align: center;
      box-shadow: 10px 10px 5px silver;
    }

    #middle {
      height: 50%;
      padding-bottom: 20px;
    }

    .light {
      width: 100%;
      height: 40px;
      margin-bottom:0px;
    }

    #light-cover {
      width: 100%;
    }

    .row #weather {
      margin-bottom: 0px;
    }

    #food{
      padding: 0px;
    }

    #food1 {
      background-color:#C8DDEE;
      box-shadow: 10px 10px 5px silver;
    }

    #r1 {
      float: left;
      display: inline-block;
      width: 33%;
      height:275px;
      margin-top: 10px;
      font-size: 50px;
    }

     #r2 {
      float:center;
      display:inline-block;
      width:33%;
      height:275px;
      margin-top: 10px;
    }

     #r3 {
      float: right;
      display: inline-block;
      width: 33%;
      height:275px;
      margin-top: 10px;
    }

    .rest:hover {
      font-size: 20px;
    }

    #bottom {
      width: 98%;
      height: 40%;
      background-color: #C8DDEE;
      padding: 0px;
      box-shadow: 10px 10px 5px silver;
      font-family: 'Open Sans';
    }

    #bottomHeader {
      text-align: center;
      font-family: 'Open Sans';
    }

    #events {
      padding:0px;
    }

    .e:hover {
      font-size: 20px;
    }

    #eatHeader {
      text-align: center;
    }

    #whereToEat {
      height: 100%;
    }

    .weather {
      padding-top: 0px;
    }

    #cr1 {
      font-size: 22px;
      text-align: center;
    }

    #newSearch {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
    }

    #cr1::first-letter{
      font-size:50px;
    }

    @media screen and (max-width: 768px){

      #master {
        margin-left: 0px;
        margin-right: 0px;
      }

      #location {
        font-size: 40px;
      }
    }

   /* @media screen and (max-width: 640px){
      #header {
        font-size: 30px;
      }
    }*/
   