html{
  height: 100%;
}


body {
  height: 100%;
  background: url(../assets/gifs/New.gif);
  /*background1.jpg placeholder background*/
  background-size: cover;
  background-position: center;
  /*min-height: 100%;*/
  width: 100%;
  font-family: "Open Sans", sans-serif;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

@font-face {
    font-family: "oswaldesque";
    src: url("../assets/fonts/oswaldesque/Oswaldesque Regular.ttf");
}

h1{
  font-family: "oswaldesque";
  font-size: 120px;
  text-shadow:  3px 3px black;

}

#where {
  text-align: center;
}

/*#header {
  background-color:#C8DDEE;
  border-radius: 15px 15px 15px 15px;
  border-width: 2px;
  border-style: solid;
  width: 50%;
  height:150px;
  margin-left: auto;
  margin-right: auto;
  opacity: .75;
  line-height: 150%;
}*/

#header {
  color: #C8DDEE;
}

/*html {
  width: 100%;
  min-height: 100%;
}*/

#form {
  background-color: #C8DDEE;
  margin-right: auto;
  margin-left: auto;
  opacity: .75;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 15px 15px 15px 15px;
  
}

::-webkit-input-placeholder {
  color: #96999B;
  /*font-size: 20px;*/
}

#city {
  font-size: 22px;
}

#state {
  font-size: 22px;
}

#date2{
font-size: 22px;
line-height: 100%;
}

#date1{
font-size: 22px;
line-height: 100%;
}

#submit {
  opacity: .99;
  background-color:#4595D3;
}


/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4595D3;
  }
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #4595D3;
  box-shadow: 0 1px 0 0 #4595D3;
  }

.input-field input[type=date]:focus{
  border-bottom: 1px solid #4595D3;
  box-shadow: 0 1px 0 0 #4595D3;   
  }
.input-field input[type=date]:focus+label{
  color: #4595D3;
  }

.input-field .prefix.active {
  color: #4595D3;
  }

  .errorTxt {
    font-size: 10px;
    color: red;
  }
  
@media screen and (max-width: 980px){

/*  #form {
    /*width:50%;*/
   /* margin-left:auto;
    margin-right: auto; */
 /* }*/

}


 @media screen and (max-width: 768px) {

  body {
    background-color: white;
  }

  #form {
    width: 90%;
    display: inline-block;
    margin-right: auto;
    margin-left: 40px;
  }
}


@media screen and (max-width: 640px){

  body {
    background-image: none;
    background-color: seaShell;
  }

  #form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #header {
    font-size: 100px;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
  }

}