
body {
  background-image: url(background1.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: "oswaldesque";
    src: url("oswaldesque/Oswaldesque Regular.ttf");
}

h1{
  font-family: "oswaldesque";
  font-size: 120px;
}

/*html {
  width: 100%;
  min-height: 100%;
}*/

#form {
  background-color: #C8DDEE;
  margin-right: auto;
  margin-left: auto;
  opacity: .75;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 15px 15px 15px 15px;
}

::-webkit-input-placeholder {
  color: #96999B;
  /*font-size: 20px;*/
}

#city {
  font-size: 22px;
}

#state {
  font-size: 22px;
}

#date2{
font-size: 22px;
line-height: 100%;
}

#date1{
font-size: 22px;
line-height: 100%;
}

#submit {
  opacity: .99;
  background-color:#4595D3;
}


/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4595D3;
  }
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #4595D3;
  box-shadow: 0 1px 0 0 #4595D3;
  }

.input-field input[type=date]:focus{
  border-bottom: 1px solid #4595D3;
  box-shadow: 0 1px 0 0 #4595D3;   
  }
.input-field input[type=date]:focus+label{
  color: #4595D3;
  }

.input-field .prefix.active {
  color: #4595D3;
  }
        




